* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Roboto;
}

.navbar {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 8vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);

}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.navbar ul li {
    list-style: none;
    margin: 30px;

}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    font-family: Roboto;


}

.navbar a {

    text-decoration: none;
    /* Remove default underline */
    position: relative;
    /* Needed for the ::after pseudo-element */
    font-size: 18px;
    padding: 5px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    /* Start with zero width */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    /* Color of the underline */
    visibility: hidden;
    /* Initially hidden */
    transition: all 0.3s ease-in-out;
    /* Transition for the animation */
}

.navbar a:hover::after {
    visibility: visible;
    width: 100%;
    /* Full width on hover */
}




.search-container {
    display: inline-block;
    position: relative;
}



.search-container input {
    width: 300px;
    /* Increase the width */
    height: 40px;
    /* Increase the height */
    padding: 10px;
    /* Add some padding for spacing inside the input */
    font-size: 18px;
    /* Increase the font size */
    border-radius: 5px;
    /* Optional: add rounded corners */
    border: 1px solid #ccc;
    /* Optional: add a border */
}

.search-container button {
    padding: 10px 15px;
    background-color: #4caf50;
    /* Green button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.account-button {
    display: flex;
    align-items: center;
}

.account-button a {
    margin-right: 10px;
}

#map {
    height: 500px;
    /* You can adjust the height of the map */
    width: 100%;
    /* Make the map take full width */
}

